node_modules
.env
.env.development
.env.production
coverage
coverage.json
typechain
typechain-types
.openzeppelin
tests.txt
tmpopenzeppelin

#Hardhat files
cache
artifacts
bin

#VsCode
.vscode
.history
.devcontainer
devcontainer.json
lucidao.code-workspace
*.orig
fix-test-atomic-execution.patch

#Lucid Dao
anonymized-contracts
anonymized-scripts
